name: JavaFX Build

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      run: mvn clean compile

    - name: Create Portable App Image
      # This command generates the self-contained folder
      run: mvn javafx:jlink

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Portable-Windows-App
        path: target/image
