name: JavaFX Cross-Platform Build

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    # Use the matrix variable to determine the runner
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # Define the operating systems to build on
        os: [windows-latest, macos-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn clean compile

      - name: Create Portable App Image
        run: mvn javafx:jlink

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          # Use the matrix OS variable in the artifact name to keep files separate
          name: Portable-App-${{ matrix.os }}
          path: target/image